@define-color bg_color #430019;
@define-color bg_color_alt #000000;
@define-color fg_color #bf023f;
@define-color active_fg_color #00cca0;
@define-color inactive_bg_color #bf023f;
@define-color active_border_color #00cca0;

@keyframes pulse {
    0% {
        color: @fg_color;
        font-size: 16px;
    }
    25% {
        color: @active_fg_color;
        font-size: 20px;
    }
    50% {
        font-size: 18px;
    }
    75% {
        color: @active_fg_color;
        font-size: 20px;
    }
    100% {
        color: @fg_color;
        font-size: 16px;
    }
}

* {
    font-size: 18px;
    font-family: monospace;
}

window#waybar {
    background: transparent;
    color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: @bg_color;
    font-size: 22px;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: @bg_color_alt;
    background: @bg_color;
    font-size: 22px;
}
#custom-divider {
    color: @fg_color;
    background: @bg_color;
    font-size: 22px;
}
#custom-heart {
    color: @fg_color;
    background: @bg_color;
    animation: pulse 1s infinite;
    min-width: 40px;
    transition: color 200ms;
    animation-fill-mode: none;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#disk {
    background: @bg_color;
    color: @fg_color;
    transition:
        color 150ms,
        font-weight 0.1s;
}

#temperature {
    padding: 0 5px;
}

#window {
    padding: 0 5px;
    color: @fg_color;
    background: @bg_color;
    transition:
        color 150ms,
        font-weight 0.1s;
}

#pulseaudio:hover {
    color: #268bd2;
    font-weight: bold;
}
#memory:hover {
    color: #2aa198;
    font-weight: bold;
}
#cpu:hover {
    color: #6c71c4;
    font-weight: bold;
}
#battery:hover {
    color: #859900;
    font-weight: bold;
}
#disk:hover {
    color: #b58900;
    font-weight: bold;
}
#temperature:hover {
    color: #dc322f;
    font-weight: bold;
}
#clock:hover {
    color: @active_fg_color;
    font-weight: bold;
}
#window:hover {
    color: @active_fg_color;
    font-weight: bold;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 10px;
}

menu {
    background: @bg_color;
    color: @fg_color;
}
menuitem {
    background: @bg_color;
    color: @fg_color;
    transition:
        color 150ms,
        font-weight 0.1s;
}

menuitem:hover {
    color: @active_fg_color;
    font-weight: bold;
}
